.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

.snap-section {
  scroll-snap-align: start;
}

footer {
  scroll-snap-align: end;
}

a {
  color: #0d6efd;
  transition: color 0.3s ease;
}
a:hover {
  color: #084298;
}
