.team_member {
  background:linear-gradient(to right, rgb(89, 0, 255), rgba(255, 0, 225, 0.16));
  border-radius: calc(0.5 * var(--bs-gutter-x));
  padding: calc(1 * var(--bs-gutter-x));
  margin: 10px;
  box-shadow: 4px;
}
.full-width-image {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}